---
const today = new Date()
---

<footer class="w-full text-center text-gray-500 text-sm pb-6 pt-12">
	&copy; {today.getFullYear()} 小叶子 | All rights reserved | <a class="text-red-800" href="https://github.com/LeafYeeXYZ" target="_blank">Github ↗</a>
</footer>
