---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="w-full fixed top-0 left-0 z-50 bg-white transition-all" id="header">
	<nav class="w-full h-12 relative border-b border-black">
		<div class="h-12 absolute top-0 left-4 sm:flex items-center justify-center hidden">
			<a href="/">{SITE_TITLE}</a>
		</div>
		<div class="h-12 absolute top-0 left-0 w-full flex items-center justify-center gap-8">
			<HeaderLink href="/">主页</HeaderLink>
			<HeaderLink href="/psychology">心理</HeaderLink>
			<HeaderLink href="/programming">编程</HeaderLink>
			<HeaderLink href="/about">关于</HeaderLink>
		</div>
	</nav>
</header>
<script>
	// 让导航栏在向下滚动时隐藏，向上滚动时显示
	let last = 0
	window.addEventListener('scroll', () => {
		const current = window.scrollY
		if (current > last) {
			document.getElementById('header')!.style.top = '-12rem'
		} else {
			document.getElementById('header')!.style.top = '0'
		}
		last = current <= 0 ? 0 : current
	})
</script>
