---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import PostToc from '../components/PostToc.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

type Props = CollectionEntry<'programming'>['data']

const { title, headings } = Astro.props
---
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="w-full font-bold text-center text-4xl mt-40 mb-24">
			{title}
		</div>
		<div class="w-full justify-center items-center">
			<div class="w-full max-w-4xl mx-auto flex flex-row items-start justify-center">
				<article class="markdown">
					<slot />
				</article>
				<PostToc headings={headings!} />
			</div>
		</div>
		<Footer />
	</body>
</html>
